---
import TabsNavegation from "../components/TabsNavegation";
import CtaAll from '../components/CtaAll';
import "../style/pages/services.css";
import Layout from "../layouts/Layout.astro";

---

<Layout title="services">
    <section class="sectionTittle">
        <div class="hero-container">
            <h1 class="hero-title">
                Professional Remodeling Services
            </h1>
            <img src="/images/item1.jpg" alt="Decoración" class="floating-image image-1" />
            <img src="/images/item2.jpg" alt="Decoración" class="floating-image image-2" />
        </div>
    </section>
    <section>
        <TabsNavegation client:load />
    </section>
    <section>
        <CtaAll />
    </section>
</Layout>
